@media (max-width: 1024px) {
  .container {
    padding: 25px 5%;
    max-width: 1024px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }
  .countryInfo h2 {
    font-size: 60px;
    margin-top: unset;
  }
  .hotServiceWrapper {
    flex-direction: column;
  }
  .hotServiceCardsWrapper {
    margin-top: 40px;
    margin-left: unset;
    justify-content: space-evenly;
  }
  .hotServiceInfo {
    align-items: center;
  }
  .hotServiceText {
    width: unset;
    text-align: center;
  }
  .tourCardWrapper {
    flex-wrap: wrap;
  }
  #footerEmail,
  .supportAdress {
    width: unset;
    gap: 15px;
  }
  .cardsWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
  }
  .card {
    margin: unset;
  }
  .serviceCard {
    height: unset;
  }
  .hotServiceCardText {
    display: none;
  }
  .hotServiceWrapper {
    align-items: center;
  }
  .hotServiceTitle {
    margin: 10px auto 22px auto;
    text-align: center;
  }
  .bookingWrapper {
    background-size: unset;
  }
  .slidesContainer {
    height: 500px;
  }
  .travelersCardsWrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding: 25px 5%;
  }
  .navBarFull {
    display: none;
  }

  .navbar-burger {
    display: block;
    cursor: pointer;
  }
  .navbar {
    display: flex;
  }
  .countryInfo h4 {
    text-align: center;
  }
  .countryInfo h2 {
    font-size: 30px;
  }

  #beachVideo {
    width: 100%;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-burger span {
    display: block;
    height: 2px;
    width: 25px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar-burger.activeNav span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.activeNav span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-burger.activeNav span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #email {
    width: 80%;
    margin-bottom: 20px;
  }
  .discountTextWrapper h3 {
    font-size: 25px;
  }
  .subscribeButton {
    font-size: unset;
    padding: 10px 25px;
  }
  .bookingText span {
    font-size: 25px;
    margin-top: unset;
  }
  .destinationTextWrapper {
    text-align: center;
  }
  .feedbackNumbersWrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
  .supportAdress {
    flex-direction: column;

    margin: 0 auto;
  }
  .footerSubscribe {
    margin: 0 auto;
  }
  .footerWrapper {
    text-align: center;
    flex-direction: column;
  }
  #modalContent {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #modalContent > p {
    font-size: 12px;
    line-height: 15px;
    margin-top: unset;
    width: unset;
  }
  #modalContent > h2 {
    font-size: 18px;
  }
  .hotServicesModal {
    margin: unset;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }
  #modalImage {
    margin-bottom: 10px;
  }
}
