@media (max-width: 1024px) {
  .container {
    padding: 25px 5%;
    max-width: 1024px;
  }
  .cardsWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
  }
  .card {
    margin: unset;
  }
  .serviceCard {
    height: unset;
  }
  .hotServiceCardText {
    display: none;
  }
  .hotServiceWrapper {
    align-items: center;
  }
  .hotServiceTitle {
    margin: 10px auto 22px auto;
  }
  .bookingWrapper {
    background-size: unset;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 25px 5%;
  }
  .hotServiceWrapper {
    flex-direction: column;
  }
  .hotServiceCardsWrapper {
    margin-top: 40px;
    margin-left: unset;
    justify-content: space-evenly;
  }
  .hotServiceInfo {
    align-items: center;
  }
  .hotServiceText {
    width: unset;
    text-align: center;
  }
  .tourCardWrapper {
    flex-wrap: wrap;
  }
  .hotServiceTitle {
    text-align: center;
  }
  .countryInfo h2 {
    font-size: 60px;
    margin-top: unset;
  }
  .travelersCardsWrapper {
    margin-top: unset;
  }
  #footerEmail,
  .supportAdress {
    width: unset;
    gap: 18px;
  }
  /* .navbar-menu {
    display: none;
  }

  .navbar-burger {
    display: block;
    cursor: pointer;
  }

  .navbar-burger span {
    display: block;
    height: 2px;
    width: 25px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar-burger.activeNav span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.activeNav span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-burger.activeNav span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  } */
}
