/* General Styles */
.container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Raleway";
}
.flex {
  display: flex;
}
.positionRel {
  position: relative;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 1rem;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  padding: 0.5rem;
}

.navbar-burger {
  display: none;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

/* HEADER STYLES */
.active {
  font-weight: bolder;
}
header {
  justify-content: space-between;
  padding: 25px 0;
}

.navbarTitles > li > a {
  margin-left: 46px;
  font-size: 15.7px;
  line-height: 37px;
  text-transform: uppercase;
  color: #303134;
  font-family: "Raleway";
}
/* End of header styles */

/* SLIDER STYLES */
.sliderWrapper {
  position: relative;
  overflow: hidden;
}
.slidesContainer {
  height: 946px;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slidesContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slideArrow {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #ffffff;
}
.sliderButtonsAndInfo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 7%;
}
#slideArrowNext {
  transform: rotate(180deg);
}
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.SliderGreenLayer {
  background-image: url(../Images/header&Slider/sliderfirstimagebackground.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.65;
  background-size: cover;
}
.slide:nth-child(1),
.slide:nth-child(2),
.slide:nth-child(3),
.slide:nth-child(4),
.slide:nth-child(5) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.slide:nth-child(1) {
  background-image: url(../Images/header&Slider/sliderImg1.png);
}
.slide:nth-child(2) {
  background-image: url(../Images/header&Slider/sliderImg2.png);
}

.slide:nth-child(3) {
  background-image: url(../Images/header&Slider/sliderImg3.png);
}

.slide:nth-child(4) {
  background-image: url(../Images/header&Slider/sliderImg4.png);
}
.slide:nth-child(5) {
  background-image: url(../Images/header&Slider/sliderImg5.png);
}
.priceScratch p {
  font-size: 21px;
  line-height: 37px;
  text-transform: capitalize;
  font-weight: bold;
  color: #006cd1;
  font-family: "Raleway";
}
.price {
  font-size: 21px;
  line-height: 37px;
}

.scratchAndInfoWrapper {
  background-image: url(../Images/header&Slider/PriceScratch.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 287px;
  height: 92px;
}
.countryInfo h2 {
  font-size: 79px;
  line-height: 53px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Raleway";
  margin-top: 30px;
  margin-bottom: 55px;
}
.countryInfo h4 {
  font-size: 18px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway";
}
/* end of the slider styles */

/* hot service styles */
.hotServiceWrapper {
  margin-top: 80px;
}
.hotServiceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hotServiceText {
  font-size: 16px;
  margin-top: 28px;
  color: #8d8d8d;
  width: 241px;
  text-transform: capitalize;
}
.hotServiceInfo > h5 {
  font-size: 16px;
  text-transform: uppercase;
  color: #8d8d8d;
}
.hotServiceInfo > span {
  font-size: 26px;
  margin: 15px 0 10px 0;
  color: #1a1a1b;
  text-transform: capitalize;
}
.serviceCard {
  width: 270px;
  height: 327px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.serviceCard:hover {
  transform: scale(1.1);
}

.serviceCard > img {
  width: 100%;
  height: 181px;
}
.hotServiceTitle {
  font-size: 18px;
  margin: 22px auto 10px auto;
  text-transform: uppercase;
  color: #1a1a1b;
}
.hotServiceCardText {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #8d8d8d;
}
.hotServiceCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 70px;
}
/* modal  */
.modal {
  display: none;
  position: fixed;
  align-items: center;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalContent {
  position: relative;
  margin: auto;
  padding-left: 10%;
  width: 80%;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#modalContent > p {
  font-size: 16px;
  margin-top: 28px;
  color: #1a1a1b;
  width: 241px;
  text-transform: capitalize;
  line-height: 22px;
}
#modalContent > h2 {
  font-size: 20px;
  margin: 22px auto 10px auto;
  text-transform: uppercase;
  color: #1a1a1b;
}
.test {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  height: 400px;
  background-color: #b39090;
}
#modalImage {
  width: 50%;
}

/* hot service styles end  */

/* beach video styles  */
.videoSection {
  background-image: url(../Images/discover&video/beachVideoBgImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 500px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.Videolayerwrapper {
  background-image: url(../Images/discover&video/videoImgLayer.png);

  width: 100%;
  height: 100%;
}
.videoTextWrapper {
  padding: 68px 0 52px 0;
}
.videoTextWrapper > h5 {
  font-size: 16px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Raleway";
  color: #ffffff;
}
.videoTextWrapper > p {
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 7px;
  font-family: "Raleway";
  text-transform: capitalize;
  color: #ffffff;
}
#beachVideo {
  width: 660px;
  height: 310px;
  margin-top: 35px;
}
.videoWrapper {
  position: relative;
}
.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  border: none;
}
/* end of the beach video styles  */

/* feedback numbers styles  */
.feedbackNumbersWrapper {
  justify-content: space-around;
  margin-bottom: 64px;
}
.feedbackNumbersWrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackNumbersWrapper > div > span {
  font-size: 36px;
  line-height: 22px;
  margin-top: 23px;
  margin-bottom: 15px;
  font-weight: bold;
  /* font-family: "Arial Th"; */
  color: #1a1a1b;
}
.feedbackNumbersWrapper > div > p {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #1a1a1b;
  font-family: "Raleway";
  text-transform: uppercase;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

/* end of the feedback numbers styles */
/* popular tour section start  */
.popularTourWrapper {
  margin-top: 66px;
}
.popularTour > h5,
.travelersTextWrapper > h5,
.destinationTextWrapper > h5 {
  font-size: 16px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Raleway";
  color: #8d8d8d;
}
.popularTour > p,
.travelersTextWrapper > p,
.destinationTextWrapper > p {
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 7px;
  font-family: "Raleway";
  text-transform: capitalize;
  color: #1a1a1b;
}
.tourCardWrapper {
  justify-content: center;
  margin-top: 67px;
  margin-bottom: 72px;
  gap: 28px;
}
.tourCard {
  position: relative;
  background-color: #ffffff;
  height: 358px;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 6px rgba(101, 101, 101, 0.2));
  transition: transform 0.3s ease-out;
}
.tourCard:hover {
  transform: scale(1.1);
}
.tourCardTextWrapper {
  flex-direction: column;
  align-items: center;
}
.tourPrice {
  font-size: 14px;
  line-height: 37px;
  font-weight: 500;
  font-family: "Raleway";
  color: #1a1a1b;
}
.tourName {
  font-size: 18px;
  line-height: 37px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Raleway";
  color: #4b54fa;
}
.duration {
  font-size: 14px;
  line-height: 37px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Raleway";
  color: #1a1a1b;
}
.tourStyle {
  position: absolute;
  height: 25px;
  padding: 4px 9px;
  background-color: #fed701;
  font-size: 14px;
  color: #1a1a1b;
  font-family: "Raleway";
  text-transform: capitalize;
  top: 10px;
  left: 10px;
}
/* popular section ends here  */

/* discount and email section  */
.discountBg {
  background-image: url(../Images/discount&email/discountBgImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-bottom: 67px;
}
.discountBgLayer {
  background-image: url(../Images/discount&email/discountBgImgLayer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.discountTextWrapper {
  text-align: center;
}
.discountTextWrapper h3 {
  font-size: 34px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.discountTextWrapper h5 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 60px;
}
#email {
  width: 395px;
  height: 50px;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  background-color: transparent;
}
#email::placeholder {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 30px;
}
.subscribeButton {
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 15px 33px;
  background-color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  color: #08aeea;
  margin-left: 22px;
}
/* end of the discount and email section  */

/* travelers feedback section styles */
.travelerCard {
  padding-top: 54px;
  background-color: #f4f4f4;
}

.travelersCardsWrapper {
  margin-top: 82px;
  gap: 30px;
}
.travelerName {
  font-size: 18px;
  text-transform: capitalize;
  color: #4b54fa;
  margin: 18px auto 37px auto;
}
.travelersText {
  font-size: 16px;
  padding: 0 35px;
  text-transform: capitalize;
  text-align: center;
  line-height: 22px;
  color: #1a1a1b;
}
.quoteMark {
  margin: 35px 0 51px 0;
}
/* end of the travelers feedback section  styles */
/* booking section styles */
.bookingWrapper {
  background-image: url(../Images/travelers&booking/bookingBgImg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 69px;
  background-position: bottom;
}
.bookingText {
  height: 500px;
  justify-content: end;
}
.bookingText span {
  font-size: 36px;
  margin-bottom: 49px;
  color: #fefeff;
}
.bookingText button {
  border-radius: 25px;
  font-size: 16px;
  color: #fefeff;
  text-transform: uppercase;
  border: none;
  background: #08aeea;
  background: linear-gradient(-1deg, #08aeea 0%, #2af598 100%);
  padding: 16px 40px 14px 39px;
  margin-bottom: 51px;
}
/* end of the booking section styles */
/* destination styles */
.card {
  background-image: url(../Images/destination/destinationThailand2.png);
  background-repeat: no-repeat;
  position: relative;
  height: 425px;
  margin: 80px 0 80px 0;
  filter: drop-shadow(0px 0px 10px rgba(101, 101, 101, 0.2));
  transition: transform 0.3s ease-out;
}
.card:hover {
  transform: scale(1.1);
}
.card > img:hover {
  transition: transform 0.3s ease-out;
}

.card:nth-child(2) {
  background-image: url(../Images/destination/italy.png);
}
.card:nth-child(3) {
  background-image: url(../Images/destination/indonesia.png);
}
.destinationPriceWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  left: 18px;
  bottom: 13px;
}
.destinationCountry {
  font-size: 30px;
  margin-bottom: 5px;
  color: #fefeff;
  text-transform: capitalize;
}
.destinationRange {
  font-size: 14px;
  color: #fefeff;
}
.arrow {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(101, 101, 101, 0.2));
  background: linear-gradient(-5deg, #08aeea 0%, #2af598 100%);
}
.destinationInfoWrapper {
  flex-direction: column;
}
.cardsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* end of the destination styles */
/* map and footer section styles */
.map > iframe {
  width: 100%;
  height: 435px;
}
footer {
  background-color: #141418;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.supportAdress {
  width: 53%;
  justify-content: space-between;
  margin-top: 54px;
}
.quickLinks > h5,
.support > h5,
.address > h5 {
  font-size: 19px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: bold;
  color: #ffffff;
}
.quickLinks > ul > li > a,
.support > ul > li > a,
.address > ul > li > a {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #dcdbdb;
}
.quickLinks > ul > li,
.support > ul > li,
.address > ul > li {
  margin-bottom: 28px;
}
.footerSubscribe > h5 {
  font-size: 16px;
  margin-bottom: 14px;
  color: #ffffff;
}
#footerEmail {
  width: 343px;
  padding: 14px 0 13px 16px;
  background-color: #f0f1f3;
  border-radius: 3px;
  font-size: 16px;
  color: #353030;
  border: none;
}
#footerEmail:focus {
  outline: none;
}
.submitFooter {
  width: 58px;
  height: 48px;
  margin-left: -2px;
  border: none;
  filter: drop-shadow(0px 0px 10px rgba(101, 101, 101, 0.2));
  background: linear-gradient(-5deg, #08aeea 0%, #2af598 100%);
}
.submitFooter > img {
  width: 30px;
  height: 30px;
}
.copyright {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #dcdbdb;
  padding: 22px 0;
}
.supportAdress > div > ul > li > a:hover {
  font-weight: bolder;
}
