@font-face {
    font-family: 'Arial Th';
    src: url('ArialTh.eot');
    src: url('ArialTh.eot?#iefix') format('embedded-opentype'),
        url('ArialTh.woff2') format('woff2'),
        url('ArialTh.woff') format('woff'),
        url('ArialTh.ttf') format('truetype'),
        url('ArialTh.svg#ArialTh') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

